main{
  display: block;
  position: relative;
  left:46%;
  top:200px;
  
 padding-left: 10%;

}
label{
    font-family: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: rgb(139, 138, 138);
}
input[type="text"]
{
    border-top:none;
    border-left: none;
    border-right:none;
    margin-top:10px;
    margin-bottom: 10px;
    width:20%;
    font-size: 16px;
    color: rgb(84, 85, 84);
}
button{
    background-color: rgb(19, 156, 149);
    color: white;
    height: 30px;
    width:5%;
    display: inline-block;
    border:none;
    border-radius: 5px;
}
